/* FONT IMPORTS */
@font-face {
    font-family: 'roboto_monoregular';
    src: url('../fonts/robotomono-variablefont_wght-webfont.woff2') format('woff2'),
         url('../fonts/robotomono-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ibm_plex_sansregular';
    src: url('../fonts/ibmplexsans-regular-webfont.woff2') format('woff2'),
         url('../fonts/ibmplexsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* VARIABLES / PALETTE */
:root {
    --casDark: #12120f;
    --casDarkTrans: rgba(18, 18, 15, 0.75);
    /* --casLight: #bec5bb; */
    --casLight: rgb(193, 187, 187);
    --tagHTML5: #e54c21;
    --tagCSS3: #214ce5;
    --tagSASS: #cf649a;
    --tagBootstrap: #4c0bce;
    --tagTailwind: #38bdf8;
    --tagJavaScript: #f7df1e;
    --tagReact: #61dbfb;
    --tagjQuery: #1169ae;
    --tagWordPress: #1b769c;
    --tagPHP: #787cb4;
    --tagMySQL: #e48e01;
    --tagGitHub: #8462ff;
    --tagLinux: #f5be04;
}

/* COLOURS */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("../media/background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

body::after {
    content: "";
    background: var(--casDarkTrans);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.card {
    background-color: var(--casDarkTrans);
    border: 1px black solid;
}

h1, h2, h3, h4, h5, h6, p, a {
    color: var(--casLight);
}

svg path {
    fill: var(--casLight);
}

#logo path {
    fill: none;
    stroke: var(--casLight);
}

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6, a, li p {
    font-family: 'roboto_monoregular', monospace;
}

h1>span {
    text-transform: lowercase;
}

span.hide {
    display: inline-block;
}

a {
    text-decoration: none;
    display: inline-block;
}

p {
    font-family: 'ibm_plex_sansregular', sans-serif;
}

/* LAYOUT */
#image-modal {
    display: none;
}

main {
    margin: 1rem;
}

section {
    margin: 3.5rem 0 7rem;
}

h2 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1rem 1.25rem;
}

/* h1::after, h2::after {
    position: relative;
    display: inline-block;
    content: "";
    background-color: var(--casLight);
}

h1::after {
    height: 2.7rem;
    width: 1.35rem;
}

h2::after {
    height: 2rem;
    width: 1rem;
} */

p {
    margin: .5rem 0;
    line-height: 1.25rem;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    border-radius: 0.25rem;
}

/* NAV */
nav {
    display: none;
}

/* CARDS */
.card {
    border-radius: 0.5rem;
    padding: 0.75rem 0.75rem;
}

.card.header {
    display: inline-block;
    padding: 0;
    margin-bottom: 3rem;
}

h3, h4 {
    margin: 0.5rem 0;
}

/* LINKS / BUTTONS */
a.button, a.social-link, button.copy-clipboard {
    background-color: var(--casLight);
    color: var(--casDark);
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
}

a.button {
    padding: 0.5rem 1rem;
}

.button.email {
    margin-right: .5rem;
    text-align: center;
}

button.copy-clipboard, a.social-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.15rem;
    height: 2.15rem;
    padding: 0;
}

button.copy-clipboard svg {
    width: .75rem;
    height: .75rem;
}

a.social-link {
    margin: 0 0.25rem;
}

a.social-link svg {
    width: 1.25rem;
    height: 1.25rem;
}

button.copy-clipboard svg path, a.social-link svg path {
    fill: var(--casDark);
}

/* CONTACT PART */
.contact-container {
    margin: 0 auto;
    width: 14.5rem;
}

.email-container {
    display: flex;
}

.social-link-container {
    margin-top: 0.5rem;
    text-align: center;
}

/* TOOL TAGS */
ul.tool-tags {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    padding: 0;
    margin: 1rem 0;
    list-style: none;
}

li.tag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 8rem;
    height: 2.15rem;
    padding: 0 0.15rem;
    border: 2px var(--casLight) solid;
    border-radius: 0.25rem;
}

li.tag, li.tag * {
    transition: 0.3s all ease;
}

li.tag p {
    flex-grow: 1;
    text-align: center;
    font-size: 0.8rem;
    cursor: default;
    background-color: transparent !important;
}

li.tag svg {
    width: 1.75rem;
    height: 1.5rem;
    background-color: transparent !important;
}

li.tag:hover * {
    color: var(--casDark);
    fill: var(--casDark);
}

li.tag.front-end, li.tag.sub-front-end {
    grid-column: 1 / 2;
    justify-self: end;
}

li.tag.js, li.tag.backend, li.tag.misc {
    grid-column: 2 / 3;
    justify-items: start;
}

.tag.html5:hover, .tag.html5:hover * {
    border-color: var(--tagHTML5);
    background-color: var(--tagHTML5);
}

.tag.css3:hover, .tag.css3:hover * {
    border-color: var(--tagCSS3);
    background-color: var(--tagCSS3);
}

.tag.sass:hover, .tag.sass:hover * {
    border-color: var(--tagSASS);
    background-color: var(--tagSASS);
}

.tag.bootstrap:hover, .tag.bootstrap:hover * {
    border-color: var(--tagBootstrap);
    background-color: var(--tagBootstrap);
}

.tag.tailwind:hover, .tag.tailwind:hover * {
    border-color: var(--tagTailwind);
    background-color: var(--tagTailwind);
}

.tag.javascript:hover, .tag.javascript:hover * {
    border-color: var(--tagJavaScript);
    background-color: var(--tagJavaScript);
}

.tag.react:hover, .tag.react:hover * {
    border-color: var(--tagReact);
    background-color: var(--tagReact);
}

.tag.jquery:hover, .tag.jquery:hover * {
    border-color: var(--tagjQuery);
    background-color: var(--tagjQuery);
}

.tag.wordpress:hover, .tag.wordpress:hover * {
    border-color: var(--tagWordPress);
    background-color: var(--tagWordPress);
}

.tag.php:hover, .tag.php:hover * {
    border-color: var(--tagPHP);
    background-color: var(--tagPHP);
}

.tag.mysql:hover, .tag.mysql:hover * {
    border-color: var(--tagMySQL);
    background-color: var(--tagMySQL);
}

.tag.github:hover, .tag.github:hover * {
    border-color: var(--tagGitHub);
    background-color: var(--tagGitHub);
}

.tag.linux:hover, .tag.linux:hover * {
    border-color: var(--tagLinux);
    background-color: var(--tagLinux);
}

/* ACCORD */
.accord {
    overflow: hidden;
    position: relative;
    margin: 0 0 1.5rem;
    height: 4rem;
    transition: 0.3s height ease;
}

.accord h4 {
    margin-top: 2rem;
}

.accord-button {
    margin-bottom: 1.5rem;
}

.accord svg {
    position: absolute;
    top: 1.25rem;
    right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    transition: 0.3s transform ease;
}

.accord.expanded svg {
    transform: rotate(-180deg);
}

/* LANDING SECTION */
#landing {
    margin-top: 0;
    min-height: 100vh;
}

.card.landing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    padding-top: 1.5rem;
}

.card.landing .text-container h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem 0;
    text-align: center;
}

.card.landing .text-container p {
    margin-bottom: 1.2rem;
    text-align: center;
}

/* PROJECTS SECTION */
.project.card, .featured-project.card {
    padding-bottom: 1.5rem;
    margin-bottom: 3rem;
}

img {
    margin-bottom: 0.5rem;
}

.proj-date {
    text-align: end;
    font-size: 0.9rem;
}

.proj-date, .proj-overview {
    margin: 0.5rem 0 1rem;
}

.proj-link-wrapper {
    text-align: end;
}

a.button.proj-link {
    display: inline-flex;
    align-items: center;
    text-align: end;
    padding: 0.5rem 0.6rem 0.5rem 1rem;
    margin: 0 0 0 auto;
}

.proj-link svg {
    margin-left: 0.5rem;
    width: 1rem;
    height: 1rem;
}

.proj-link svg path {
    fill: var(--casDark);
}

/* CONTACT SECTION */
.contact.card p {
    text-align: center;
    margin-bottom: 1rem;
}

.contact.card {
    padding-bottom: 1.5rem;
}

/* PROJ-LANDING */
#proj-landing {
    margin: 0 0 7rem;
}

#proj-landing .card.header {
    margin-bottom: 1.5rem;
}

.ext-link-container {
    margin-left: auto;
    width: 10rem;
}

a.button.ext-link {
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: end;
    margin: 0 0 0.5rem auto;
    padding: 0.5rem 0.6rem 0.5rem 1rem;
}

.ext-link svg {
    margin-left: 0.5rem;
    width: 1rem;
    height: 1rem;
}

.ext-link svg path {
    fill: var(--casDark);
}

/* FOOTER */ 
footer {
    padding-bottom: 1.25rem;
}

footer p.card {
    display: inline;
    margin: 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
}