/* FONT IMPORTS */
@font-face {
    font-family: 'roboto_monoregular';
    src: url('../fonts/robotomono-variablefont_wght-webfont.woff2') format('woff2'),
         url('../fonts/robotomono-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ibm_plex_sansregular';
    src: url('../fonts/ibmplexsans-regular-webfont.woff2') format('woff2'),
         url('../fonts/ibmplexsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* VARIABLES / PALETTE */
:root {
    --casDark: #12120f;
    --casDarkTrans: rgba(18, 18, 15, 0.9);
    --casLight: #bec5bb;
    --casRed: rgb(118, 18, 15);
    --casGreen: rgb(18, 118, 15);
    --casBlue: rgb(18, 18, 115);
}

/* COLOURS */
body {
    background-color: var(--casDarkTrans);
}

.card {
    background-color: var(--casDarkTrans);
    border: 1px black solid;
}

h1, h2, h3, h4, h5, h6, p, a {
    color: var(--casLight);
}

svg path {
    fill: var(--casLight);
}

#logo path {
    fill: none;
    stroke: var(--casLight);
}

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6, a {
    font-family: 'roboto_monoregular', monospace;
}

h1>span {
    text-transform: lowercase;
}

span.hide {
    display: inline-block;
}

a {
    text-decoration: none;
    display: inline-block;
}

p {
    font-family: 'ibm_plex_sansregular', sans-serif;
    margin: .5rem 0;
}

/* LAYOUT */
main {
    margin: 1rem;
}

h1 {
    margin: .5rem;
    text-align: center;
}

/* NAV */
nav {
    display: none;
}

/* CARDS */
.card {
    border-radius: 0.5rem;
    padding: 1.5rem .75rem;
}

/* LINKS / BUTTONS */
a.button {
    background-color: var(--casLight);
    color: var(--casDark);
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
}

.button.email {
    flex-grow: 1;
    margin-right: .5rem;
    text-align: center;
}

button.copy-clipboard {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--casLight);
    border: none;
    border-radius: 0.25rem;
    width: 2.15rem;
    height: 2.15rem;
    padding: 0;
    cursor: pointer;
}

button.copy-clipboard svg {
    width: .75rem;
    height: .75rem;
}

button.copy-clipboard svg path {
    fill: var(--casDark);
}

a.social-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--casLight);
    color: var(--casDark);
    margin-left: 0.5rem;
    border-radius: 0.25rem;
    width: 2.15rem;
    height: 2.15rem;
}

a.social-link svg {
    width: 1.25rem;
    height: 1.25rem;
}

a.social-link svg path {
    fill: var(--casDark);
}

/* LANDING SECTION */
.card.landing .text-container p {
    margin-bottom: 1.2rem;
}

.card.landing .text-container .email-container {
    display: flex;
}

.social-link-container {
    text-align: end;
    margin-top: 0.5rem;
}